@charset "utf-8";
$icon-font-path: "/assets/bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

a.active {
  background-color: gray;
}
